body {
  max-width: 650px;
  margin: 30px auto;
  background-color: #EEEEEE;
  text-align: center;
}

.nav a {
  margin-left: 2rem;
  margin-right: 2rem;
}

main {
  margin-top: 2rem;
}

.page {
  text-align: left;
}
