body {
  max-width: 650px;
  margin: 30px auto;
  background-color: #EEEEEE;
  line-height: 1.5rem;
}

main {
  margin-top: 2rem;
}

footer {
  margin-top: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: monospace;
}

.nav {
  font-family: monospace;
  margin-top: 1rem;
}

.nav a {
  color: black;
  text-decoration: none;
}

.button-container {
  display: flex;
  gap: 4px;
}

.header-div {
  margin-bottom: 2rem;
}

.header-minimal a {
  font-family: monospace;
  text-decoration: none;
}

.footer-minimal {
  font-family: monospace;
}

.site-title {
  font-size: 2rem;
  font-weight: 600;
  font-family: monospace;
}

.page {
  text-align: left;
}

.text-center {
  text-align: center;
}

.section-pages {
  margin-top: 2rem;
}

.section-blog-posts {
  margin-top: 2rem;
}

.wip {
  background-color: #ff9f9f;
  padding: 8px 0;
  border-radius: 10px;
  border: 1px solid black;
  width: 100%;
  text-align: center;
}
